.center{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    margin-top: 80px;
}
.first{
    font-size: 48px;
    font-family: 'Segoe UI', sans-serif;
    font-weight:400;
}
.second{
   
    align-items: center;
    max-width: 60vw;
    text-align: center;
    font-size: 24px;
    color: #222;
    font-weight: 500;
}
.third button{
    font-family: sans-serif;
    padding: 17px 30px;
    font-size: large;
    background-color: #00b6d1;
    color: white;
    border: none;
    border-radius: 6px;
 position: relative;
 left: 185px;
}
.dow{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
   /* padding-right: 25px; */
    
}
.dow img{
    position: relative;
    top: 40px;
    padding-right: 25px;
}
.image{
    position: relative;
    left: -100px;
}
/* main content finished  */