*{
    padding: 0;
    margin: 0;
}
.flex {
display: flex;
justify-content: space-around;
align-items: center;
position: relative;
top: 20px;
}
.flex .img img {
width: 181.89px;
height: 56.38px;
}
.item {
display: flex;
justify-content: center;
align-items: center;
gap: 30px;
position: relative;
top: -6px;
}
.item .itm{
font-family: 'Segoe UI', sans-serif;
font-size: 16px;
color: #222;
}
/* sets image positioning logo i.e dropdown arrow */
.item .itm img{
position: relative;
top: 6px;
}

/* navbar completed  */
