.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 60vw;
    margin: auto;
    row-gap: 30px;
    margin-top: 55px;
}
.box{
    display: flex;
    flex-direction: column;
    /* border: 2px solid; */
    justify-content: center;
    align-items: center;
    width: 300px;
}
.first{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 100px;
    padding-top: 20px;
    text-align: center;
}
.button button{
    border-radius: 4px;
    padding: 10px 12px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border: none;
    background: #5cb85c

}
.end{
   
    width: 200px;
    text-align: center;
    word-break: break-all;
}
